<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="fb1417be-92a9-426f-b39f-74e024bc210a" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://londis-dot-ubamarket-test.appspot.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="fb1417be-92a9-426f-b39f-74e024bc210afileName">https%3A%2F%2Flondis-dot-ubamarket-test.appspot.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://londis-dot-ubamarket-test.appspot.com</con:endpoint>
  </con:endpoints>
</con:interface>
